#pip install pyodbc requests requests-ntlm
#pip install pyttsx3

## Additional Requirements
##Ensure Microsoft ODBC Driver for SQL Server is installed on your system. You can download it from Microsoft's website.
##Visual Studio 2022 should be installed and properly configured for rebuilding and deploying RDL reports.

pip install extentreports

pip install pytest pytest-html